
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Orneği - Kategory</h3>
<br/>
<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>